<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
    <link rel="stylesheet" href="../loginC.css"/>
    <link rel="stylesheet" href="../style.css"/>

    
</head>
<body>
    <%- include('../includes/regnav.ejs') %>
    <div class="container">
        <main class="mcontent">
        <h2>Login</h2>
        <div class="errormessage">
            <p><%= timeup %></p>
        </div>
        <div class="errormessage">
            <p><%= errorEmail %></p>
        </div>
        <div class="errormessage">
            <p><%= errorPass %></p>
        </div>
        <div class="errormessage">
            <p><%= linkExpire %></p>
        </div>
        <form action="/login" method="POST" novalidate>
            <input type="email" id="email" name="email" placeholder="Email" class="<%= errors.find((p)=>p.path === 'email') ? 'redBox' : '' %>"  required value="<%= oldEmail %>" >
            <input type="password" id="password" name="password" placeholder="Password" value ="<%= oldPassword %>" class="<%= errors.find((p)=>p.path === 'password') ? 'redBox' : '' %>"  required>
            <button type="submit">LogIn</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>
        <div class="signfor">
            <p>Sign up if you dont already have an account! :3</p>
            <div class="llin">
                <a href="/">SIGN UP</a>
            <a href="/reset">Reset Password</a>
            </div>
            
        </div>
    </main>
    </div>
</body>
</html>
