<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="signupHOME.css"/>
    <link rel="stylesheet" href="../style.css"/>
</head>
<body>
    <%- include('../includes/regnav.ejs') %>
    <div class="container">
        <main class="concontent">
        <h2>Sign Up</h2>
        <div class="errormessage">
            <p><%= alrex %></p>
        </div>
        <form action="/register" method="POST" novalidate class="signform">

            <input type="text" id="name" name="name" placeholder="Name"required value="<%= oldName %>">
            <input type="email" id="email" name="email" placeholder="Email" value="<%= oldEmail %>" class="<%= errors.find((p)=>p.path === 'email') ? 'redBox' : '' %>" required>
            <input type="password" id="password" name="password" placeholder="Password"  class="<%= errors.find((p)=>p.path === 'password') ? 'redBox' : '' %>"  required>
            <input type="text" id="phone" name="phone" placeholder="Phone Number" value = "<%= oldPhone %>" class="<%= errors.find((p)=>p.path === 'phone') ? 'redBox' : '' %>"  required>
            <button type="submit">Sign Up</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        </form>
        <div class="logfor">
            <p>Log In if you already have an account! :3</p>
            <a href="/log">LOGIN</a>
        </div>
        </main>
    </div>
</body>
</html>
